<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Authenticate</filter-name>
        <filter-class>sit.int303.practice.filter.Authenticate</filter-class>
    </filter>
    <filter>
        <filter-name>Authenticationfilter</filter-name>
        <filter-class>sit.int303.practice.servlet.Authenticationfilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authenticationfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authenticate</filter-name>
        <servlet-name>Page1Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authenticate</filter-name>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authenticate</filter-name>
        <servlet-name>CheckoutServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>ListPokemonServlet</servlet-name>
        <servlet-class>sit.int303.practice.servlet.ListPokemonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Multiplication</servlet-name>
        <servlet-class>sit.int303.practice.servlet.Multiplication</servlet-class>
        <init-param>
            <param-name>background</param-name>
            <param-value>black</param-value>
        </init-param>
        <init-param>
            <param-name>foreground</param-name>
            <param-value>red</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>HelloServlet1</servlet-name>
        <servlet-class>sit.int303.practice.servlet.HelloServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowHeaderServlet</servlet-name>
        <servlet-class>sit.int303.practice.servlet.ShowHeaderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPokemonServlet</servlet-name>
        <servlet-class>sit.int303.practice.servlet.ViewPokemonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <servlet-class>sit.int303.practice.servlet.SearchCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCustomerServlet</servlet-name>
        <servlet-class>sit.int303.practice.servlet.GetCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page1Servlet</servlet-name>
        <servlet-class>sit.int303.practice.servlet.Page1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>sit.int303.practice.servlet.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessOrderServlet</servlet-name>
        <servlet-class>sit.int303.practice.servlet.ProcessOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListPokemonServlet</servlet-name>
        <url-pattern>/ListPokemon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Multiplication</servlet-name>
        <url-pattern>/mt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloServlet1</servlet-name>
        <url-pattern>/hs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowHeaderServlet</servlet-name>
        <url-pattern>/HttpHeader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPokemonServlet</servlet-name>
        <url-pattern>/view/ViewPokemonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <url-pattern>/SearchCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCustomerServlet</servlet-name>
        <url-pattern>/GetCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page1Servlet</servlet-name>
        <url-pattern>/Page1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/ProcessOrder</url-pattern>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessOrderServlet</servlet-name>
        <url-pattern>/ProcessOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
